<!DOCTYPE html>
<html>
    <center>
    <head>
        <title>Prediction</title>
    </head>
    <body>
        <br><br><br>
        <h3>Prediction Result</h3>
        <h4>Thyroid disease is a general term for a medical condition that keeps your thyroid from making the right amount of hormones.<br>
        Your thyroid typically makes hormones that keep your body functioning normally.<br>
        When the thyroid makes too much thyroid hormone, your body uses energy too quickly. This is called hyperthyroidism</h4>
        <br><br>
        <h3>{{data}}</h3> 
        <img src="../assets/tyroid.jpg">
    </body>
</center>
</html>